<div class="about-section">
    <h1>About Jharkhand Today</h1>
    <p>Jharkhand Today is news channel where you will get all news of Jharkhand specially palamu</p>
    <p>This web media house is owned by Mr Aditya Raj </p>
    <p> Registration no -   [UDYAM-JH-18-0001764]</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card" >
        <!-- <img src="../../assets/img/1636962993087.jpg" alt="Aditya" style="height: auto;"> -->
        <div class="container" style="margin-left: 450px;">
          <h2>Aaditya Raj</h2>
          <p class="title">CEO & Founder</p>
          <p>Aaditya Raj is known for his leadership quality</p>
          <p>jharkhandtodays@gmail.com</p>
          <p><button  class="button">Contact Us</button></p>
        </div>
      </div>
    </div>
  
    <!-- <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div> -->
  </div>
