<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <nav class="navbar navbar-default navbar-fixed-top"> -->
  
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/news">News </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/headline">Top Headline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li> -->
      </ul>
      <a class="navbar-brand navbar-right" href="#">
        <img  src="../../assets/img/1636962993087.jpg" width="55px" height="44px" />
      </a>
    </div>
  </nav>
  <router-outlet></router-outlet>